<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间.与StudentMapper绑定-->
<mapper namespace="com.sdu.graduateback.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.sdu.graduateback.dto.User">


        <result property="u" column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="p"  column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="token" column="token" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="openid" column="wei_chat" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="login" resultMap="Integer" >
        select sum(1) from user where id=#{id} and password=#{pass}
    </select>


</mapper>